body{
  background-color: #f6f7f9;
}

#topo {
  background-color: #4f6d7a; 
  border-radius: 38px;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav ul {
  background-color: #dbe9ee;
  border-radius: 38px;
  padding: 12px 12px;
  justify-content: space-around;
  display: flex;
  gap: 17px;
  color: #1f1fd6;
  color: #2e2eff;
}
nav ul a { color: #1f1fd6; }
nav ul a:hover { color: #7302e3; }

.artigo1{
  background-color: #c0d6df;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
  padding: 10px;
  border-radius: 38px;
  margin-bottom: 10px;

}

.artigo2{
  background-color: #4F6D7A;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
  padding: 10px;
  border-radius: 38px;
  margin-bottom: 10px;
}

blockquote {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 20px;
  border-left: 7px solid #4f6d7a;
  background-color: #4a6fa5;
  margin-right: 1200px;
  border-radius: 38px;
}

aside{
  text-align: left;
  padding-left: 15px;
  background-color: #dbe9ee;
  border-radius: 38px;
  border: 1px solid #2c3e50;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
  margin-left: 1400px;
}

details p{

  background-color: #4a6fa5;
  margin-right: 1500px;
  border-radius: 38px;
  padding: 5px;
}

table{
  background-color: #DBE9EE;
  border: 1px solid #2c3e50;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
  margin-left: 30px;
  border: 2px solid #2c3e50;
}
caption{
 background-color: #DBE9EE; 
 border: 2px solid #2c3e50;
}

h2{
  font-family:'Times New Roman', Times, serif;
  font-size: 35px;
}
h3{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}
header{
  background-color: #dbe9ee; 
  border-radius: 38px;
  text-align: center;
}
#form_css{
  background-color: #c0d6df;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
  padding: 10px;
  border-radius: 38px;
  margin-bottom: 10px;
  text-align: center;
}
fieldset{
  margin-left: 300px;
  margin-right: 200px;
  border: 1px solid #2c3e50;
}

footer{
  background-color: #4F6D7A;
  border-radius: 38px;
  text-align:center;
}
img{
  width: 30%;
  border: 2px solid #2c3e50;

}
